.popup__close-button {
  background: url(../../../images/close-icon.svg) no-repeat center/contain;
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  opacity: 1;
  transition: opacity .5s linear;
}

@media (max-width: 989px) {
  .popup__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}