.popup__submit-button {
  min-height: 50px;
  background-color: rgba(0, 0, 0, 1);
  transition: background-color .5s linear;
  color: #ffffff;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

@media (max-width: 479px) {
  .popup__submit-button {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__submit-button:hover {
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}