.footer {
  display: flex;
  flex: 0 0 auto;
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
}

@media (max-width: 925px) {
  .footer {
    max-width: 90.3vw;
  }
}

@media (max-width: 479px) {
  .footer {
    max-width: 88.125vw;
    min-width: 282px;
  }
}